*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "arimo", sans-serif;
    background-color: rgb(204, 204, 204);
}
html{
    scroll-behavior: smooth;
    
}
img{
    max-width: 414px;
    max-height: 896px;
    
}

.container{
    max-width: 414px;
    width: 100%;
    margin: 0;
    padding: 0 ;
	background-color: white;
}
/* header */
.header{
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin-right: 10px; */
    padding-left: 5px;
	padding-right: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: fixed; */
    background-color: white;
}

.header img{
	
}
.header_left{
    justify-self: center;
    display: block;
}
.header_right{
    display: flex;
    justify-content: space-around  ;
    width: auto;
	align-items: center;
}
 .header_right_item {
    display: flex;
    object-fit: cover;
    margin-right: 20px;
 }

 .header_right_item img{
    min-width: 24px;
	max-height: 24px;
 }

/* story_bar */

.story-body{
    min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	place-items: center;
	color: rgb(51, 51, 51);
}
.story-container{
	overflow-x:auto;
	overscroll-behavior-x: contain;
	border-bottom: 1px solid rgb(204, 204, 204);
	/* background-color: white; */
	padding: 5px;
	width: 414px;
    height: 125px;
}
.story-panel{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns:20px ;
	grid-gap: 80px;
}

.story-panel .story-content{
	display: grid;
	grid-gap:1px;
	margin: 0;
	text-align: center;
	position: relative;
	cursor: pointer;
	user-select: none;
	transition: all 0.2s ease-in;
}

.story-panel .story-content:hover{
    transform :scale(1.1)
}

.story-panel .story-content .img-container{
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius:50% ;
    background: radial-gradient(rgba(0, 0, 0, 0.15) 60%,transparent 0),
	radial-gradient(white 60%,transparent 0),
	linear-gradient(to top right, orange,deeppink); 

}
.story-panel .story-content .img-container img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	clip-path: circle(42%);
}

/* post  */
.post-body{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	min-height: 575px;
	/* background: #fff6ed; */
	max-width: 414px;
	margin-top: 10px;
}

.post-page{
	width: 414px;
	min-height: 400px;
	/* border-radius: 10px; */
	background: white;
	padding: 18px 20px 10px 25px;
	box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.15);
	position: relative;
	transition: 0.4 s ease;
}

.post-page .post-above{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post-page .post-above .userInfor{
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.post-page .post-above .userImg{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 8px;
	overflow: hidden;
	position: relative;
}

.cover{
	background: gray;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover;
}

.post-page .post-above .userInfor h3{
	font-size: 16px;
	color: #4d4d4f;
	font-weight: 400;
	line-height: 1em;
}

.post-page .post-above .userInfor h3 span{
	font-size: 0.75em;
}

.meunu{
	margin-top: 15px;
	transform: scale(1.2);
	cursor: pointer;
}

.mainPics{
	position: relative;
	width: 100%;
	height: 340px;
	margin: 5px 0 15px;
}

.theButton{
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.theButton *{
	transition: 0.2s ease;
}
.theButton img{
	max-width: 20px;
	transform: scale(1.2,1.2);
	margin-right: 7px;
}

.theButton img:hover{
	transform: scale(1.1,1.1)
}

.likes{
	color: black;
}
.captions{
	font-weight: 400;
	color: #777;
	line-height: 1.5em;
}
.captions b{
	color: #262626
}

.captions span{
	color: #1d92ff;
	cursor: pointer;
}

.comments{
	margin-top: 3px;
	font-weight: 400;
	color: rgb(172, 170, 170);
}.add_a_comment{
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.add_a_comment .userImg{
	width: 35px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	margin-right: 8px;
	border-radius: 50%;
}

.add_a_comment .userImg img{
	height: auto;
	transform: scale(1.1,1.1);
}

.theComment{
	width: 100%;
	outline: none;
	border: none;
	border-color: transparent;
	font-weight: 400;
	font-size: 14px;
	color: #262626;
}
.theComment::placeholder{
	color: #777;
}


.time{
	margin-top: 5px;
	font-weight: 400;
	color: rgb(172, 170, 170);
	font-size: 11px;
}

/* footer */

