*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
    background-color: rgb(230, 230, 230);
}
html{
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
    width: 100%;
    pointer-events:none ;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
/* header */
.header{
    padding-top: 10px;
    margin-right: 10px;
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: rgb(230, 230, 230);
}
.header_left{
    justify-self: center;
    display: block;
}
.header_right{
    display: flex;
    justify-content: space-around  ;
    width: fit-content;
}
 .header_right_item {
    display: flex;
    object-fit: cover;
    margin-right: 20px;
 }


 
