*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "arimo", sans-serif;
}
html{
    scroll-behavior: smooth;
    
}
img{
    max-width: 414px;
    max-height: 896px;
    
}

.container{
    max-width: 414px;
    width: 100%;
    margin: 0;
    padding: 0 ;
}
/* header */
.header{
	top:0;
	right: 661;
    /* bottom: 0; */
    padding-top: 5px;
    /* padding-bottom: 5px; */
    /* margin-right: 10px; */
    padding-left: 3px;
	padding-right: 5px;
    display: flex;
    justify-content: space-between;
    width: 414px;
    position: absolute;
	z-index: 3;
    background-color: none;
}

.header img{
	min-width: 24px;
	max-height: 24px;
}
.header-left{
    display: flex;
    justify-content: space-around;
    width: auto;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
}
.header-right{
    display: flex;
    justify-content: space-around;
    width: auto;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
    gap: 10px;
}
 .header_right_item {
    display: flex;
    object-fit: cover;
    margin-right: 15px;
 }

 .header_right_item img{
    min-width: 24px;
	max-height: 24px;
 }

 /* nav bar  */
 .nav_bar{
	/* top:0; */
	right: 661;
    bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 10px;
    padding-left: 5px;
	padding-right: 5px;
    display: flex;
    justify-content: space-around;
    width: 414px;
	height: auto;
    position: fixed;
	z-index: 3;
	border-top: 1px solid gray;
    background-color: white;
 }

 .nav_bar_right_item {
	display: flex;
    object-fit: cover;
 }

 .nav_bar_right_item img{
	min-width: 24px;
	max-height: 24px;
 }

 /* reels  */


.content img{
    position: relative;
    /* bottom: 40px; */
    top: 50;
}
 .content{
    display: flex;
 }

 #iconLike{
    position: absolute;
    max-width: 30px;
    max-height: 30px;
    bottom: 400;
    left: 450;
 }
