*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "arimo", sans-serif;
    background-color: white;
}
html{
    scroll-behavior: smooth;
    
}
img{
    max-width: 414px;
    max-height: 896px;
    
}

.container{
    max-width: 414px;
    width: 100%;
    margin: 0;
    padding: 0 ;
	background-color: white;
}
/* header */
.header{
	top:0;
	right: 661;
    /* bottom: 0; */
    padding-top: 5px;
    /* padding-bottom: 5px; */
    /* margin-right: 10px; */
    padding-left: 3px;
	padding-right: 5px;
    display: flex;
    justify-content: space-between;
    width: 414px;
    position: fixed;
	z-index: 3;
    background-color: white;
}

.header img{
	min-width: 24px;
	max-height: 24px;
}
.header-left{
    display: flex;
    justify-content: space-around;
    width: auto;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}
.header-right{
    display: flex;
    justify-content: space-around;
    width: auto;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
    gap: 30px;
}
 .header_right_item {
    display: flex;
    object-fit: cover;
    margin-right: 15px;
 }

 .header_right_item img{
    min-width: 24px;
	max-height: 24px;
 }

 /* nav bar  */
 .nav_bar{
	/* top:0; */
	right: 661;
    bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 10px;
    padding-left: 5px;
	padding-right: 5px;
    display: flex;
    justify-content: space-around;
    width: 414px;
	height: auto;
    position: fixed;
	z-index: 3;
    background-color: white;
	border-top: 1px solid gray;
 }

 .nav_bar_right_item {
	display: flex;
    object-fit: cover;
 }

 .nav_bar_right_item img{
	min-width: 24px;
	max-height: 24px;
 }

/* content  */
.post-above{
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

 .post-above .userInfor{
	display: flex;
    justify-content: space-around;
    gap: 40px;
	align-items: center;
	margin-top: 10px;
}

 .post-above .userImg{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 8px;
	overflow: hidden;
	position: relative;
}

.cover{
	background: gray;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover;
}

 .post-above .userInfor h3{
	font-size: 16px;
	color: #4d4d4f;
	font-weight: 400;
	line-height: 1em;
}

 .post-above .userInfor h3 span{
	font-size: 0.9em;
    justify-content: center;
}
.bio{
    margin-left: 25px;
}
.bio h3 span{
    font-size: 0.9em;
}

.button{
    gap: 5px;
    width: 100%;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    #btn-l{
        display: inline-block;
        width: 40%;
        border-radius: 8px;
        border: none;
        font-size: 13;

    }
    #btn-r{
        width: 40%;
        display: inline-block;
        width: 40%;
        height: 15px;
        border-radius: 8px;
        border: none;
        font-size: 13;

    }
}
.gallery{
    /* margin-top: 55px; */
    padding: 5px;
    padding-right: 5px;
    max-width: 414px;
    max-height: 560px;
    /* margin: 0 auto; */
    background: white;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
 }

 /* .gallery img{
    max-width: 200px;
	max-height: 250px;
 
 } */

 .vs{
    grid-row: span 2;
 }
 .hs{
    grid-column: span 2;
 }
 
 .bs{
    grid-row: span 2;
    grid-column: 2;
 }

 .gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }