body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #F8F8F8;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

a {
        color: black;
        text-decoration: none;
}

/* ============================================================Home============================================================ */
#Home {
        display: flex;
        flex-direction: row;
        margin-top: -8px;
        width: 1500px;
        height: 740px;
}

#leftSide {
        background-color: white;
        width: 220px;
        height: 740px;
        display: flex;
        flex-direction: row;
        padding-left: 19px;
        border-right: 1px solid #DBDBDB;
}

#leftSideIcon {
        display: flex;
        flex-direction: column;
        width: 30px;
        margin-top: 70px;
        margin-left: -127px;
}

#leftSideLabel {
        margin-top: 118px;
        margin-left: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 150px;
        height: 396px;
        font-size: 20px;
        color: black;
}

#center {
        background-color: #F8F8F8;
        width: 776px;
        height: 740px;
        display: flex;
        flex-direction: column;
        align-items: center;
}

#centerHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 35px;
        margin-left: 40px;
        border: 1px solid #D6D6D6;
        border-radius: 6px;
        height: 120px;
        background-color: white;

}

#listStory {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 580px;
}

#story {
        display: flex;
        flex-direction: row;
}

#centerBottom {
        margin-top: 13px;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        width: 550px;
        height: 500px;
        border: 1px solid #D6D6D6;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom: none;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: white;
        height: 820px;
}

.spaceOnTop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
}

.circleAvatar {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 97px;
        justify-content: space-between;
}

.spaceOnBottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}

.spaceOfIconBottom {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 120px;
}

#rightSide {
        background-color: #F8F8F8;
        width: 408px;
        height: 680px;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
}

.rightSideLabelContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
}

.rightSideNameAvatar {
        display: flex;
        flex-direction: row;
        align-items: center;
}

.avatarSize {
        width: 40px;
        height: 40px;
}

.status {
        font-size: 15px;
        color: #838383;
        margin-top: 5px
}